47-OpenAI-Supabase-Integration/assets/Agents to Apps - RAG system.json
{
  "name": "Agents to Apps - RAG system",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "340754af-9cd1-4466-9587-5ce2f4d9fd17",
              "name": "mimeType",
              "value": "={{ $json.body.fileType }}",
              "type": "string"
            },
            {
              "id": "e2d8870f-6be8-4007-8b51-b4e941049a5f",
              "name": "fileName",
              "value": "={{ $json.body.filename }}",
              "type": "string"
            },
            {
              "id": "0e280898-31e9-406b-a8b0-9d7ccb9b2c6c",
              "name": "userId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "58ea4bce-6b94-4c65-817e-1e331ce3dd2c",
      "name": "Extract Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "={{ \"application/pdf\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5247d14a-a234-4455-8d58-cd02545a099a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c98be01a-7381-4839-a00e-49bc5e4fb0fa",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "={{ \"text/csv\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3330a9b9-ce16-4694-8d94-a159369c6a99",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "={{ \"text/plain\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "dd05ea5d-0c27-48a7-b953-ffebb2f74638",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        -112
      ],
      "id": "fbaa1490-5c40-4fc2-8f6f-db31e6c03e69",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        48
      ],
      "id": "db2c1d47-237d-4617-9803-f46967cf3a41",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        224
      ],
      "id": "155f0292-700e-46e4-9def-8abff6b66916",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "jsCode": "// grab the original userId from your Extract Fields node\n// const userId = $node[\"Extract Fields\"].json[\"userId\"];\n\nconst userId = $('Extract Fields').first().json.body.userId\n// `items` is the array coming out of whichever extractor ran.\n// Turn each item’s json into one “content” array:\nconst content = items.map(i => i.json);\n\n// emit exactly one object with both userId + content \nreturn [{\n  json: {\n    userId,\n    content\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        48
      ],
      "id": "9c0e1f1e-c427-4ccc-97ca-6d668b9f02e8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1488,
        48
      ],
      "id": "b7b550e8-10f7-45eb-b768-88eb378db37b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1104,
        48
      ],
      "id": "da3bb708-e0d3-40b2-a360-c7df4db7d532",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "I7FfGV7VMtc9MgHh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1104,
        224
      ],
      "id": "cdb6fde7-8b8a-402a-b6e3-ba02fb30a876",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "h60Xv62FPbNAksbQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "userId",
                "value": "={{ $json.userId }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1280,
        224
      ],
      "id": "0ace057e-2c97-47ae-a42e-459cf9567d3e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        -352
      ],
      "id": "977e229a-4452-4afd-bfaa-2a93724163d4",
      "name": "When chat message received",
      "webhookId": "eaf43458-e634-425d-8941-d79ab263da5b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f4e109a-1755-48bb-9c7e-ada392ee29b3",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b9690b3b-37ab-47a3-a680-411799637248",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "e38dc7f5-33e4-423a-b3a9-22469f022078",
              "name": "userId",
              "value": "={{ $json?.body?.userId || \"08d4dae1-f550-4479-a4e1-f9a22c7dfc6a\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -352
      ],
      "id": "810e3403-203a-4815-ba8e-f02ccc1f2e62",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant who helps answer questions based on documents in your knowledge base.\n\nWhen answering questions:\n- Use the document retrieval tool to search for relevant information\n- Provide accurate answers based on the retrieved documents\n- If you cannot find relevant information in the documents, say \"I don't have information about that in the available documents\"\n- Always cite which documents source you're referencing when possible\n- Be concise and helpful in your responses\n\nDo not make up information that isn't found in the retrieved documents."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        -480
      ],
      "id": "1b54f0d3-bb18-410e-88bb-0d14d31d1d85",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        -256
      ],
      "id": "76f8ee6b-7ce2-4a73-ad9b-7eb989ed75d5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "h60Xv62FPbNAksbQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        528,
        -224
      ],
      "id": "fa4908e3-cce8-41b0-8c04-9efb4441a552",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "msJPVHxkn9sLguBS",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "document data from uploaded documents",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "userId",
                "value": "={{ $('Edit Fields').item.json.userId }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        672,
        -368
      ],
      "id": "aecee5a5-f131-42e1-a54c-461a23481eab",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "I7FfGV7VMtc9MgHh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        -192
      ],
      "id": "68fc5e9f-32c0-4902-9548-2d11c2998399",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "h60Xv62FPbNAksbQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -192
      ],
      "id": "1e085d4b-a722-4714-9a64-3559acb6fbeb",
      "name": "ChatWebhook",
      "webhookId": "7ae519fc-fe42-410c-8cff-513081abd613"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        -528
      ],
      "id": "4c62e80c-09fe-4f93-a7e8-5450aaa60334",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fdd59f6-90d6-4f57-b3d2-3fc94e6b6f18",
              "name": "userId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            },
            {
              "id": "37a22898-2a0d-47e3-9bc4-dd3a2b2eaafd",
              "name": "videoUrl",
              "value": "={{ $json.body.videoUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        432
      ],
      "id": "a7524a7e-1637-4aa2-ab68-4852ab957061",
      "name": "ExtractFields"
    },
    {
      "parameters": {
        "url": "https://youtube-transcript3.p.rapidapi.com/api/transcript-with-url",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.videoUrl }}"
            },
            {
              "name": "flat_text",
              "value": "true"
            },
            {
              "name": "lang",
              "value": "en"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "={{ $vars.RAPIDAPI_KEY }}"
            },
            {
              "name": "x-rapidapi-host",
              "value": "youtube-transcript3.p.rapidapi.com"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "videoUrl",
              "value": "={{ $json.videoUrl }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        432
      ],
      "id": "6cb0e59b-f725-45a8-8d53-1d25a14ad04e",
      "name": "RapidAPI-HTTP Request",
      "notesInFlow": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "02D0yQXCdgCpgEnu",
          "name": "YT-RapidAPI"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetch",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        432
      ],
      "id": "f6667a7d-ddab-43b1-90d1-ec4b880f8d35",
      "name": "YT-Webhook",
      "webhookId": "859e24cd-9e3d-4821-946c-0a04155137c8"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2000,
        384
      ],
      "id": "50ffdc09-561e-4fad-a014-662ed35955bf",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbf71338-694a-4f9f-8dd4-022c4cc8ae37",
              "name": "transcript",
              "value": "={{ $json.transcript || $json.error }}",
              "type": "string"
            },
            {
              "id": "56dff611-1fae-4322-919b-f3930a8030d6",
              "name": "userId",
              "value": "={{ $('ExtractFields').item.json.userId }}",
              "type": "string"
            },
            {
              "id": "491bdf54-ed44-43c6-87a0-83d8147a3bf5",
              "name": "videoUrl",
              "value": "={{ $('ExtractFields').item.json.videoUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        432
      ],
      "id": "3b0e1818-841b-4834-9704-d5a2f2541813",
      "name": "Combine Payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bf2eab0c-92c3-4014-95e4-0f1f85ce5d27",
              "leftValue": "={{ $('RapidAPI-HTTP Request').item.json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        432
      ],
      "id": "2383bea6-beed-4a6a-ba49-b274ab49dff9",
      "name": "If"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "tableId": "transcripts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.userId }}"
            },
            {
              "fieldId": "video_url",
              "fieldValue": "={{ $json.videoUrl }}"
            },
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $json.transcript }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1088,
        368
      ],
      "id": "9c59c328-5093-4bf9-ac67-97636c6ad285",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "I7FfGV7VMtc9MgHh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "transcripts",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.user_id }}"
            },
            {
              "keyName": "id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1264,
        400
      ],
      "id": "9f6552cc-1d19-4d68-98df-be0ab4c85dde",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "I7FfGV7VMtc9MgHh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1488,
        304
      ],
      "id": "aa493f94-dd17-48d0-a2db-596ce9d10462",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "I7FfGV7VMtc9MgHh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1488,
        576
      ],
      "id": "ffda437d-55b7-4736-bd8c-b2d3cee90966",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "h60Xv62FPbNAksbQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "userId",
                "value": "={{ $('Create a row').item.json.user_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1632,
        576
      ],
      "id": "3f7641e5-1f11-4b17-b1f9-2ad834fd1b35",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1632,
        736
      ],
      "id": "35543c0b-fedc-41da-91ef-0b316be9c34b",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e145ebef-dd5e-4f2e-8ef1-465809ea1f2e",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "2077167a-3202-40f6-bc93-56cf9eb8a7de",
              "name": "error",
              "value": "={{ $('RapidAPI-HTTP Request').item.json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        576
      ],
      "id": "ede358c0-64bd-461b-b440-83dcd3b4cfdb",
      "name": "Format Error Response",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2e7b19c6-d2bc-4a25-8c4e-0b675c4aff57",
      "name": "WebhookExtractor",
      "webhookId": "333f7e4b-f500-4366-8631-733211745b6e"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ChatWebhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtractFields": {
      "main": [
        [
          {
            "node": "RapidAPI-HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RapidAPI-HTTP Request": {
      "main": [
        [
          {
            "node": "Combine Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT-Webhook": {
      "main": [
        [
          {
            "node": "ExtractFields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Payload": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookExtractor": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b5de0495-488b-4798-bef5-5f1643f2b976",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85757c58b69237edee3c39834c9f110726919ce518fc09e384ebf0ca63c74423"
  },
  "id": "YSQpYbDX67igjOXo",
  "tags": []
}